body {
    background-color: var(--clr-bg);
    color: var(--clr-font);
    font-family: var(--josefin);
    font-size: var(--fs-500);
}

@media only screen and (max-width: 850px){

    body {
        font-size: var(--fs-400);
    }
}