.main_page {
    display: flex;
    flex-direction: column;
    padding: var(--mrg-main);
    gap: var(--mrg-gap-2)
}

.back {
    @include button_bis;
}

.content {
    display: flex;
    flex-direction: column;
    gap: var(--mrg-gap-2);

    &__title {
        @include titre;
    }

    &__texte {
        line-height: 110%;
    }
    
    &__images {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: var(--mrg-gap-2);

        &__image {
            width: 40%;
            object-fit: contain;
        }
    }
}